<link rel="stylesheet" href="/css/chatbox.css">

<% if(locals.user){  %>
<div id="chat-box">
    <div id="chat-head">
        <div id="friend-name">Message Someone</div>
    </div>

    <div id="message">
        <div class="line-other">
            <div class="other">
                Other Message
                <small>abc@gmail.com</small>
            </div>
        </div>

        <div class="line-self">
            <div class="self">
                Self Message
                <small>def@gmail.com</small>
            </div>
        </div> 
          <p class="info-msg">Start a chat</p>
    </div>

    <form id="message-input">
        <input id="chat-input" type="text" placeholder="Type message here">
        <button id="send-msg" type="submit">Send</button>
    </form>
    
</div>

<% } %>